* {
  font-family: "JetBrainsMono Nerd Font", "IBM Plex Sans Arabic", monospace;
  font-size: 0.93em;
  color: #cdd6f4;
}

.bar {
  background: none;
}

.info {
  background: #585b70;
  border-radius: 1em;
  margin-left: 1em;
  padding: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.bar {
  padding: 1em;
}

.ws-entry {
  font-size: 1em;
}
.ws-entry.current {
  color: #f9e2af;
}
.ws-entry.inactive.occupied {
  color: #bac2de;
}
.ws-entry.inactive.empty {
  color: #9399b2;
}
