* {
  font-family: 'JetBrainsMono Nerd Font', 'Iosevka Nerd Font', monospace;
  font-size: 0.96em;
}

.bar {
  background: none;
}

.info {
  background: #585b70;
  border-radius: 1em;
  margin-left: 1em;
  padding: 0.5em;
}

.bar {
  padding: 1em;
}

.workspace-entry {
  font-size: 1em;
}
.workspace-entry.current {
  color: #f9e2af;
}
.workspace-entry.inactive.occupied {
  color: #bac2de;
}
.workspace-entry.inactive.empty {
  color: #9399b2;
}
